body {
  font-family: "Tolkien", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto 0;
  background: #c7af6b;
  width: 100%;
}

h1 {
  font-size: 10vh;
  margin: auto 0;
  color: #683019;
  text-align: center;
}

h2 {
  font-size: 7vh;
  margin: auto 0;
  color: #683019;
  text-align: center;
  margin-bottom: 1vh;
}

/* NAVIGATION */

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

li {
    padding: 2vw;
    font-size: 4vh;
    margin-right: 2vh;
}

a {
    color: #f0dfba;
    text-decoration: none;
    padding-top: .3vh;
    margin-bottom: .3vh;
    margin-top: .7vh;
}

.light-green {
    padding: 2vh;
    background: #513f1f; /* Old browsers */
    background: -moz-linear-gradient(top, #513f1f 0%, #c7af6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#513f1f), color-stop(100%,#c7af6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #513f1f 0%, #c7af6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #513f1f 0%, #c7af6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #513f1f 0%, #c7af6b 100%); /* IE10+ */
    background: linear-gradient(top, #513f1f 0%, #c7af6b 100%); /* W3C */
}

.main {
  margin-top: 13vh;
  position: relative;
  width: 100%;
  height: 100%;
}

/* PIC SLIDESHOW */

.pics-container {
  overflow: hidden;
}

.professional-pics {
  --slideshow-items:6;
  --ignore-width-of-first-item: 1;

  position: relative;
  height: 30vh;
  margin-bottom: 1.875vh;
  display: flex;
  width: 100%;

  -webkit-animation: bannermove-prof 10s alternate linear infinite;
    -moz-animation: bannermove-prof 10s alternate linear infinite;
      -ms-animation: bannermove-prof 10s alternate linear infinite;
        -o-animation: bannermove-prof 10s alternate linear infinite;
          animation: bannermove-prof 10s alternate linear infinite;
}

.professional-pics img {
  margin: 0vw .625vw;
  box-shadow: .125vw .125vw .5vh #8a8a8a;
}

@keyframes bannermove-prof {
  0% {
    left: 0
  }

  100% {
    left: calc(-1 * 100vw * (var(--slideshow-items) - var(--ignore-width-of-first-item)));
  }
}

@-webkit-keyframes bannermove-prof {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45vw);
  }
}

@-moz-keyframes bannermove-prof {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45vw);
  }
}

@-ms-keyframes bannermove-prof {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45vw);
  }
}

@-o-keyframes bannermove-prof {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45vw);
  }
}

/* Paragraph*/

p {
  font-size: 3vh;
  color: #49432d;
  margin-left: .7vw;
  margin-right: .7vw;
  text-align: justify;
  padding-top: .3vh;
  margin-bottom: .3vh;
  margin-top: .7vh;
}

h3 {
  font-size: 5vh;
  color: #784333;
  margin-left: .5vw;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: .5vh;
}

h4 {
  font-size: 4vh;
  color: #784333;
  margin-left: .5vw;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: .4vh;
}

/* Index Page */

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;


}
.map-container img{
  max-height: 100%;
  max-width: 100%;
  filter: invert(22%) sepia(59%) saturate(487%) hue-rotate(360deg) brightness(88%) contrast(87%);
}

.spell-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spell-container img{
  max-width: 100%;
  max-height: 10vh;
  filter: invert(22%) sepia(59%) saturate(487%) hue-rotate(360deg) brightness(88%) contrast(87%);
}

.link {
  color: #49432d;
}

.link:hover {
  color: #a87164;
}

/* About */

.loc-container {
  display: flex;
  align-items: center;
  width: 100%
}
.loc-address {
  padding-right: .5vw
}
.map-loc {
  display: flex;
  font-size: 3vh;
  color: #49432d;
  align-items: flex-start;
  margin-left: .7vw;
  margin-top: .5vh;
}

.map-loc:hover {
  color: #a87164;
}

.about_link {
  font-size: 3vh;
  color: #49432d;
  margin-left: .7vw;
  margin-right: .7vw;
  text-align: justify;
  padding-top: 0;
  margin-bottom: .3vh;
  margin-top: .7vh;
}

.about_link:hover {
  color: #a87164;
}

.loc-container .map-loc {
  flex: 1;
}
.loc-container iframe {
  flex: 1;
  max-width: 95%;
}

.pwinfo-container {
  display: flex;
  align-items: center;
  justify-content: space-start;
}

.pwinfo-container img{
  max-height: 50%;
  max-width: 50%;
  filter: invert(22%) sepia(59%) saturate(487%) hue-rotate(360deg) brightness(88%) contrast(87%);
}

.pwinfo-container .pwinfo {
  width: 100%;
}

.short-text {
  text-align: start;
}

.transport {
  margin-left: 1vw;
}

.transport h3 {
  margin-left: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.transport p {
  margin-left: 0;
  margin-top: .5vh;
  margin-bottom: .5vh;
}

.transport a {
  margin-left: 0;
  margin-top: .5vh;
  margin-bottom: .5vh;
}

.closing-container {
  display: flex;
  align-items: center;
  justify-content: space-start;
}

.closing-container img{
  width: 100%;
}

/* Form */

form {
  font-size: 3vh;
  color: #49432d;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: .5vh;
  margin-top: 1vh;
}

input[type="text"] {
  margin-top: .5vh;
  margin-bottom: 3vh;
  font-family: "Tolkien", sans-serif;
  font-size: 3vh;
  padding: 1vh;
  color: #713d34;
  background-color: #e4ddc1;
  border: none;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4c5441;
  box-shadow: 0 0 0 .1vw #4c5441;
  background-color: #e4ddc1;
}

input[type="email"] {
  margin-top: .5vh;
  margin-bottom: 3vh;
  font-family: "Tolkien", sans-serif;
  font-size: 3vh;
  padding: 1vh;
  color: #713d34;
  background-color: #e4ddc1;
  border: none;
}

input[type="email"]:focus {
  outline: none;
  border-color: #4c5441;
  box-shadow: 0 0 0 .1vw #4c5441;
  background-color: #e4ddc1;
}

input[type="radio"] {
  margin-bottom: 1vh;
  accent-color: #4c5441;
}

input[type="checkbox"] {
  margin-bottom: 1vh;
  accent-color: #4c5441;
}

input[type="submit"] {
  background-color: #7b4938;
  border: none;
  color: #f0dfba;
  font-size: 4vh;
  width: 20vw;
  padding-top: 2vh;
  padding-bottom: 1vh;
  font-family: "Tolkien", sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: calc(50% - 10vw);
}

/* Us */

.party {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.pics {
  object-fit: contain;
  max-width: 100%;
  max-height: 45vh;
}

.bridegroom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-left: 1vw;
  max-width: 100%;
}

.parents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-left: 1vw;
  max-width: 100%;
}

.cheifbest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-left: 1vw;
  max-width: 100%;
}

.others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-left: 1vw;
  max-width: 100%;
}

.bride {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.groom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}

.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-left: 1vw;
  max-width: 100%;
}


.sub {
  max-width: 100%;
  text-align: center;
  font-size: 3vh;
}

.caption {
  max-width: 75%;
  text-align: center;
  font-size:  2vh;
  margin-bottom: 1vh;
  padding-bottom: 3vh;
}

/* Footer */

footer {
  margin: 0;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.bottom img{
  max-height: 100%;
  max-width: 100%;
  filter: invert(22%) sepia(59%) saturate(487%) hue-rotate(360deg) brightness(88%) contrast(87%);
}

/* Mobile Devices */

@media (max-width : 500px) {
  h1 {
    font-size: 6vh;
    margin: auto 0;
    color: #683019;
    text-align: center;
  }
  
  h2 {
    font-size: 5vh;
    margin: auto 0;
    color: #683019;
    text-align: center;
    margin-bottom: 1vh;
  }

  .main-nav {
    display: flex;
    list-style: none;
  }

  .main-nav a {
      color: #f0dfba;
      text-decoration: none;
      text-align: center;
      justify-content: space-evenly;
  }

  li {
    font-size: 4vh;
  }

  input[type="submit"] {
    background-color: #7b4938;
    border: none;
    color: #f0dfba;
    font-size: 2vh;
    width: 20vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-family: "Tolkien", sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: calc(50% - 10vw);
  }

  .sub {
    max-width: 100%;
    text-align: center;
    font-size: 2vh;
  }

  .caption {
    max-width: 75%;
    text-align: center;
    font-size:  1vh;
    margin-bottom: 1vh;
    padding-bottom: 3vh;
  }
}

